.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d) ;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px; 

}


.header__navbar-item,
.header__navbar-item-link{ 
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{ 
    display: inline-flex;
    align-items: center;    

}
.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.header__navbar-item--strong{

    font-weight: 600;
}

.header__navbar-item--seperate::after{
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid  #fb9066;
    height: 12px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon{
    font-size: 1.8rem;
    margin:0 4px;
}

.navbar__item--tittle-nopointer:hover{
    cursor: text !important;
    color: var(--white-color) !important;
}

/* this is for the show up qr code*/

.show_store{
    width: 180px;
    background-color: var(--white-color);
    padding: 8px;
    display: none;
    position: absolute;
    left: 0;
    top: 118%;
    animation: FadeIn 0.5s ;
}
.show_store_active:hover .show_store{
    display: block;
}
.qrcode img{
    width: 100%;
}

.link_store{
    display: flex;
    justify-content: space-between;
}

.linkStore_img img{
    height: 14px;
}

.linkStore_img:first-child{
    margin-left: 10px;
}

.linkStore_img:last-child{
    margin-right: 11px;
}

.show_store_active::before{
    color: red;
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    top: 100%;
    left: 0;
    z-index: 15;
    display: block;
}


/*end ne*/

/* Thong bao hien len */
.show_noti{
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 404px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 118%;
    right: 0;
    padding: 0;
    margin: 0;
    display: none;
    animation: Notifi_appear 0.6s ;
}
.show_notification::after{
    content: "";
    border-style: solid;
    border-width: 20px;
    border-color:transparent transparent white transparent;
    position: absolute;
    top: -28px;
    right: 20px;
    z-index: 1;
    
}

.show_notification_class:hover .show_noti{
    display: block;

}

.show_notification_class::before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 3;
}


.notification_header{
    height: 38px;
    font-size: 1.6rem;
    font-weight: 500;
}
.notification_header p{
    line-height: 38px;
    padding-left: 12px;
}

.show_notification{
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--text-color);
}

.noti_tile{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 12px 12px;
}
.noti_tile:hover{
    background-color: #ebebeb;
}

.notifi_img img{
    width: 48px;
    margin-right: 8px;
}


.title{
    font-size: 1.4rem;
    font-weight: 500;

}

.subTitle{
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.6;
    line-height: 15px;
}

.notifi_footer{
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

@keyframes Notifi_appear
{
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

/* Auth form nè nhaaaaaaaaaaaa*/

.auth-form__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.auth-form_container{
    padding: 0 32px;
}

.auth-form__heading{
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;


}

.auth-form_switch-btn{
    
    font-size: 1.4rem;
    font-weight: 600;
    color: #f53e2d;
    cursor: pointer;

}

.auth-form{
    padding: 0px 0;
    width: 100%;

}
.auth-form__group{
    margin: 5px 0;


}

.auth-form__input{
    color: #ccc;
    font-weight: 400;
    width: 100%;
    padding: 5px;
    border:1px solid #ccc;
    outline-color: #000;
    outline-width: 1px;
    

}

.auth-form_aside{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;

}

.auth-form__policy{
    margin-top: 20px;
}

.auth-form__policy-link{
    text-decoration: none;
    color: #f53e2d;

}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;

}

.auth-form_socials{
    padding: 10px 15px;
    background-color: rgb(243, 243, 243);
    background-clip: padding-box;
    display: flex;
    justify-content: center;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;

}

.auth-form_socials .btn--with-icon{
    flex-basis: 220px;
    text-decoration: none;
}

.facebook-btn{
    background-color: #3b579d;
    color: white;
    margin-right: 8px;
}
.facebook-btn i{
    text-align: center;
    margin-right: 25px;
}

.google-btn{
    background-color: white;
    color: black;
}

.google-btn i{
    margin-right: 35px;
    color: red;
}



.auth-form__help{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.text-button{
    text-decoration: none;
    font-weight: 600;
    position: relative;
    color: rgb(66, 66, 66);
}

.vertical-divider::after{
    content: "";
    border-right: 1px solid #ccc;
    height: 10px;
    position: absolute;
    z-index: 5;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
}



/* Phần tìm kiếm sản phẩm + logo bla bla*/
.header__searchbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
}
.shopee-svg-icon{
    height: 70px;
    fill: #fff;
    padding: 10px 50px;
}

.searchbar__searchbox{
    border-radius: 3px;
    flex-grow: 1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    display: flex;
}

.searchbox__input{
    color: #222;
    font-size: 1.35rem;
    font-weight: 400;
    flex-grow: 1;
    height: 38px;
    margin: 0;
    border: none;
    outline: none;
    padding: 5px 16px;
}
.searchbar__cart{
    color: white;
    padding: 10px 110px 10px 60px;
    font-size: 1.6rem;
}
.searchbar__cart:hover{
    cursor: pointer;

}

.searchbar__searchbutton{
    width: 60px;
    height: 34px;
    text-align: center;
    background-color: #ee4d2d;
    color: white;
    font-size: 1.3rem;
    padding-top: 8px;
    margin-right: 4px;
    border-radius: 3px;
}

.searchbar__searchbutton:hover{
    opacity: 0.8;
    cursor: pointer;
}

.searchbar__category{
    padding: 0px 12px;
    position: relative;
}

.searchbar__category::after{
    content: "";
    position: absolute;
    left: 0;
    height: 20px;
    width: 0;
    border:0.5px solid #ccc ;
    top: 50%;
    transform: translateY(-50%);
}
.category-active{
    margin-right: 4px;

}
.searchbar__category::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 140px;
    left: 0;
    top: 100%;
    animation: fadeIn 0.5s;
}

.searchbar__category:hover .category__group{
    display: block;
    cursor: pointer !important;
}

.category-active{
    cursor: pointer;
}

.category__group{
    background-color: white;
    position: absolute;
    right: 0;
    top: 36px;
    box-shadow: 0px 1px 3px #ccc;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 140px;
    border-radius: 2px;
    display: none;
}

.category__group li{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    width: 140px;
}

.category__group i{
    display: none;
    margin-top: 3px;
}

.actived__category i{
    background-color: white;
    display: inline-block;
    font-size: 1rem;
}

.category__group li:hover{
    cursor: pointer;
    background-color: #dadada;
    
}
